<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Title</title>
</head>
<body>

<form  class="game" action="" method="post">
    {% for i in range(9) %}
        <div class="for">
            {% for j in range(9) %}
                {% if sudoku[i][j] == 0 %}
                    <input class="el" name="{{ i }}{{ j }}" type="number" min="1" max="9">
                {% else %}
                    <textarea disabled=disabled name="{{ i }}{{ j }}" >{{ sudoku[i][j] }}</textarea>
                {% endif %}

            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Оtправить">
    <input type="submit" value="Cсброс" name="clear">
</form>
</body>
</html>







