<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="contener">
            <div class="top_header">
                <div class="top_line">
                    <div class="inner">
                        <a href="/hello"><h3 class="logo">Logo</h3></a>
                    </div>
                </div>
                <div class="nav">
                    <div class="inner">
                        <ul class="menu">
                            <li><a href="/hello">Главная</a></li>
                            <li><a href="/forms">Регистрация</a></li>
                            <li><a href="/user">Пользователи</a></li>
                            <li><a href="/fastForms">Опубликовать пост</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="contener">
        {% block content%}{% endblock %}
        {% block forma%}{% endblock %}
    </div>
    {% block scripts %}
        <script>
            document.querySelector('ul a[href="' + location.pathname + '"]').className = 'activ';
        </script>
    {% endblock %}
</body>
</html>