.sudoku{
    text-align: center;
}

.for{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: max-content;
  
}
input{
  width: 50px;
  height: 50px;
}

textarea, input {
  resize: none;
  text-align: center;
  width: 40px;
  height: 40px;
}

.el{
    text-align: center;
    font: 1em sans-serif;
    
   
}