*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sudoku{
    text-align: center;
}

.for{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: max-content;
}

textarea, .el{
  resize: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font: 1em sans-serif;

}
textarea{
    padding-top: 15px;
}

.sud{
    margin-top: 30px;
    display:flex;
    justify-content: center;
}

.btn {
   display: grid;
   margin-top: 10px;
   gap: 10px;
}
