*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{
    font-weight: 400;
    font-family: "SFUIDisplay-Light", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #313131;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));
    
}

h1, h2, h3, h4{
    font-family: "SFUIDisplay-Light", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover {
    font-family: sans-serif;
    outline: none;
	text-decoration: underline;
	color: #deb887;
}


ul, a {
    font-size: 1.0625rem;
    font-family: 'SFUIDisplay', sans-serif;
    color: #313131;
    text-transform: uppercase
}

.contener{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;   
}

.top_header{
    box-shadow: 0px 0px 29px 13px rgb(42 40 42 / 29%);
    border-radius: 0 0 12px 12px;
    text-transform: uppercase;
}

.activ{
    color:#deb887;
    text-decoration: underline;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;

}


ul.menu  {
    padding: 22px 15px 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 15px;
    margin-right: 5px;
}


/* блок постов */

.title{

}

.item{
    margin-bottom: 30px;
    
}
.item_img{
    float: left; margin-right: 20px;
    margin-bottom: 5px;
}

.item_title{
    margin-bottom: 15px;

}
.item_message{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.massage{
   margin-bottom: 5px;
}

/*  */
.row_block{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 5em;
}

.colum_list{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row_list{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.fast_block{
    display: flex;
}

.intro_img{

    width: max-content;
    height: max-content;
}


label{
    font-family: sans-serif;
    text-transform: uppercase;
    color: #0c0808;
}



.btn{
    width: 100%;
    height: 25px;
    font: 1em sans-serif;
    text-align: center;
}

.form_item input{
    height: 50px;
    width: 600px;
    font: 1em sans-serif;
    text-align: center;
    margin-bottom: 20px;

}

.send_fast{
    display: flex;
    justify-content: center;
}

.form_error{
    font: 1em sans-serif;
    text-align: center;
    color: rgb(236, 24, 24);
}
.send input{
    height: 50px;
    width: 600px;
    font: 1em sans-serif;
    text-align: center;
    margin-bottom: 20px;  
}

textarea{   
    width: 600px;
    height: 200px;
    margin-bottom: 20px; 
    padding: 10px;
    font: 1em sans-serif;
}

/* блок поста */

